{% extends "!layout.html" %}

{% block footer %}
{{ super() }}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-30560129-4");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endblock %}


{%- block content %}
    {% block docs_navbar %}
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top bd-navbar" id="navbar-main">
      {%- include "docs-navbar.html" %}
    </nav>
    {% endblock %}

    <div class="container-fluid">
      <div class="row">
          {% block docs_sidebar %}
          <div class="col-12 col-md-3 bd-sidebar">
              {%- include "docs-sidebar.html" %}
          </div>
          {% endblock %}

          {% block docs_toc %}
          <div class="d-none d-xl-block col-xl-2 bd-toc">
              {% if not (meta is not none and 'notoc' in meta) %}
                {%- include "docs-toc.html" %}
              {% endif %}
          </div>
          {% endblock %}

          {% block docs_main %}
          <main class="col-12 col-md-9 col-xl-7 py-md-5 pl-md-5 pr-md-4 bd-content" role="main">
              {% block docs_body %}
              <div>
                {% block body %} {% endblock %}
              </div>
              {% endblock %}
              {% if theme_show_prev_next %}
              <div class='prev-next-bottom'>
                {{ prev_next(prev, next) }}
              </div>
              {% endif %}
          </main>
          {% endblock %}

      </div>
    </div>

    <script src="{{ pathto('_static/js/index.js', 1) }}"></script>
    {% if theme_google_analytics_id %}
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ theme_google_analytics_id }}', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    {% endif %}

{%- endblock %}